/*!***********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/less-loader/dist/cjs.js!./example/multiple-modules/feature2/_ui/index.less ***!
  \***********************************************************************************************************************************************************************/
.red-a740c {
  color: red;
}
.green-e7c0f {
  color: green;
}

/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/less-loader/dist/cjs.js!./example/multiple-modules/feature2/_ui/hello/test.less ***!
  \****************************************************************************************************************************************************************************/
.yellow-b04c8 {
  color: yellow;
}

